<div class="center jumbotron">
	

	<% provide(:title, "Home" )%>
	
	<h1>Welcome to Tweeter!</h1>
	
	<h2>This is the homepage for a sample, Twitter-like app.</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary"%>
	
	<p>
		This is the homepage for this site.
	</p>

</div>

<%= link_to image_tag("ror.jpg", alt: "Rails logo"), 'http://rubyonrails.org' %>
