<footer class="footer">
	<small>
		Check out the <a href="http://pixelicurb">Pixelcurb</a> website.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><%= link_to "About", '#' %></li>
		</ul>
	</nav>
</footer>
